body{
    margin: 0;
    padding: 0;
    background-color: var(--light);
    border: 0;
}
/* reset */
div,i,p,h1,h2.h3,h5,h6,h4,a,ul,li,span{
    margin: 0;
    padding: 0;
    border: 0;
}
/* end */
/* font */
@font-face {
    font-display: fallback;
    font-family: Poppins;
    font-weight: 500;
    src: url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-medium.yji-dc16a3592fdb61b620cc.woff2) format("woff2"),url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-medium.yji-468213c1a9cf4ac0ed6b.woff) format("woff")
}

@font-face {
    font-display: fallback;
    font-family: Poppins;
    font-weight: 700;
    src: url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-bold.yji-9690ce6275ddc5645cfa.woff2) format("woff2"),url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-bold.yji-0a53cdc68b4438be7b7d.woff) format("woff")
}

@font-face {
    font-display: fallback;
    font-family: Open Sans;
    font-weight: 400;
    src: url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-regular.yji-aff9b80e384301f2ae0c.woff2) format("woff2"),url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-regular.yji-2fe27a53dd7a5a133a02.woff) format("woff")
}

@font-face {
    font-display: fallback;
    font-family: Open Sans;
    font-weight: 600;
    src: url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-semibold.yji-d3abae27d3eac73b40a5.woff2) format("woff2"),url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-semibold.yji-c22248b713a484eef0c3.woff) format("woff")
}

@font-face {
    font-display: fallback;
    font-family: Open Sans;
    font-weight: 700;
    src: url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-bold.yji-1145ff0b749fff2d31bb.woff2) format("woff2"),url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-bold.yji-9111930609adeadfe225.woff) format("woff")
}
:root{
    --dark:#000;
    --light:#fff;
    --head:#d32323;
}
.mobile{
    display: block;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1027;
    border-color:rgba(240, 240, 240, 1);
}
.header-main{
    display: flex;
    align-items: center;
    background-color:var(--head);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 39.96px 19.98px;
    height: 43.98px;
    border-color:rgba(240, 240, 240, 1);
}
.open{
    position: absolute;
    left: 0;
    margin-left: 9px;
    display: block;
    
}
.open-con{
    display:block;
    position: relative;
}
.open-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 9px 6px 6px;
    background-color: #bc1d25;
    border: 1px solid #91151c;
    border-radius: 3px;
    color:var(--light);
    overflow: hidden;
    text-size-adjust: 100%;
}
.open-inner span{
    margin-right: 1px;
    top: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    position:relative;
    overflow: hidden;
}
.open-inner span svg{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    fill: var(--light);
    color: var(--light);
    overflow: hidden;
}
.open-inner p{
    font-size: 12px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.0px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    display: block;
}
.header-main a{
    display: block;
    margin: 0 auto;
    text-decoration: none;
}
.logo{
    background-image: url("	https://s3-media0.fl.yelpcdn.com/assets/public/legacy@2x.yji-04bfe4564e3464f0b94b.png");
    background-repeat: no-repeat;
    background-size: 51.96px 25.98px !important;
    display: block;
    height: 25.98px;
    width: 51.96px;
    border-color: rgba(240, 240, 240, 1);
}
.menu{
    display: flex;
    margin-right: 9px;
    position: absolute;
    right: 0;
}
.menu button{
    padding: 11px 12px 13px 12px ;
    display: inline;height: 44px;
    margin: 0;
    position: relative;
    width: auto;
    color: rgba(45, 46, 47, 1);
    cursor: pointer; 
    background-color:var(--head);
    border: none;  
}
.menu-con{
    margin-top: 1px;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;   
}
.burger-con{
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    top: 0;
    fill: rgba(45, 46, 47, 1);
}
.burger-con svg{
    position: absolute;
    width: 100%;
    height: 100%;
    fill: inherit;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.input-box{
    background-color: var(--head);
    display: block;
    height: 56px;
}
.input{
    display:flex;
    border-radius:4px;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px; 
}
.input-con{
    border-color: rgba(240, 240, 240, 1);
    display: flex;
    position: relative;
    flex: 1;
    background-color:var(--light);
    border-radius: 4px;
}
.input-label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:18px;
}
.input-label span{
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-top: 1px;
    top: 0;
    fill: rgba(45, 46, 47, 1);
}
.input-label span svg{
    position: absolute;
    width: 100%;
    height: 100%;
    fill: inherit;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.input-text{
    border-color: rgba(240, 240, 240, 1);
    position: relative;
    display: inline-flex;
    width: 100%;
}
.input-text .text-con input{
   border: none;
   box-sizing: border-box;
   color:#2d2e2f;
   display: block;
   font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
   font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    padding: 14px 16px;
    width: 100%;
    font-size: 16px;
    margin-top: -1px;
    margin-bottom: 1px;
    background: transparent;
}
.header-space{
    height: 10px;
    background-color:var(--head);
    display:flex;
    flex-wrap: nowrap;
}
main{
    margin-top: 109.5px;
    position: relative;
    display: block;
    border-color: rgba(240, 240, 240, 1);
}
.service{
    margin-bottom: 24px;
    border-color: rgba(240, 240, 240, 1);
    display: block;
    word-wrap: break-word;
}
.service-conatiner{
    padding: 12px;
    background-color: var(--light);
    display: block;
    margin-bottom: 24px;
    display: block;
    word-wrap: break-word;
}
.service-inner{
    display: block;
    font-size: 0;
    line-height: 1;
    text-align: left;
    min-width:100%;
    table-layout: auto;
}
.service-item{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    vertical-align: top;
}
.item{
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.item img{
    width:36px;
    height: 36px;
}
.item-text-con{
    padding-top: 8px;
    display: block;
}
.item-text-con{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height:16px;
    color:  rgba(45, 46, 47, 1);
    text-align: center;
    display: block;
    cursor: pointer;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#item-id{
    margin-bottom: 15px;
}
.professionals{
    display: block;
    margin-inline: 12px;
}
.pro-cont{
    display:block;
}
.pro-cont-head{
    padding-bottom: 13px;
}
.pro-cont-head h2{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.0px;
    line-height: 24px;
    color: rgba(45, 46, 47, 1);
    text-align: left;
    margin: 0;
}
.image-container{
    display:block;
    position: relative;
}
.pro-cont-image{
    display: flex;
    gap: 12px;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    position: relative;
}
.pro-img-card{
  display: block;  
}
.pro-img{
    width: 100%;
    height: 100%;
    padding-bottom:6px;
    display: block;
}
.pro-img img{
    width: 154;
    height: 104;
    aspect-ratio: auto 154/104;
    border-radius: 4px;
    vertical-align: middle;
    object-fit: cover;
}
.img-name{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.0px;
    line-height: 20px;
    color: rgba(45, 46, 47, 1);
    text-align: left;
}
.pro-btn{
    display: flex;
    border-radius: 10000px;
    justify-content: center;
    margin: 0;
    padding: 4px;
    text-align: center;
    background-color:rgb(255, 255,255);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 18px 0px;;
}
#pro-btn-1{
    position: absolute;
    top: 39%;
    left: 12px;
    right: auto;
}
#pro-btn-2{
    position: absolute;
    top: 39%;
    left: auto;
    right:12px; 
}
#pro-btn-2 svg{
    transform: rotate(180deg);
}
.pro-open-btn{
    margin-bottom: 24px;
}
.open-btn{
    padding: 12px 16px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    text-align: center;
    background-color: rgba(45, 46, 47, 1);
    border-radius: 4px;
}
.open-btn span{
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: var(--light);
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin-top: 1px;
}
.rating{
    display: block;
}
.rating-conatiner{
    margin-bottom: 24px;
}
.rating-head{
    display: block;
    margin-left: 12px;
}
.rating-head h2{
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 32px;
    color: rgba(45, 46, 47, 1);
    word-break: break-word ;
    margin: 0;
}
.rating-content-con{
    display: block;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(240, 240, 240, 1);
}
.rate{
    border-top: 1px solid #e6e6e6e6;
    padding: 12px 12px 11px;
    display: block;
}
.rate-con{
    display: flex;
    gap: 12px;
}
.rate-img{
    position: relative;
    width: 64px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
}
.rate-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.rate-text{
    display: block;
    flex-grow: 1;
    cursor: pointer;
}
.rate-text p{
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: rgba(45, 46, 47, 1);
    text-align: left;
    max-width: 100%;
    overflow: hidden ;
    text-overflow: ellipsis ;
    white-space: nowrap;
    word-wrap: normal;
}
.rating-img{
    white-space: nowrap;
    margin-block: 6px 4px;
    display:flex;
    gap: 2px;
}
.rate-inner-img{
    display:inline-flex;
    align-items: center;
}
.r-img{
    display: inline-flex;
    width: 88px;
    height: 16px;
    gap: 2px;
}
.r-num{
    display:block;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(107, 109, 111, 1);
}
.r-name{
    display: inline;
    margin: 0;
    padding: 0;
}
.r-name span{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.0px;
    line-height: 16px;
    color: rgba(107, 109, 111, 1);
    text-align: left;
}
.rating-btn{
    padding: 0 12px 12px;
    display: block;
}
.rating-btn button{
    padding: 10px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    position: relative;
    width: 100%;
    border: 1px solid rgba(200, 201, 202, 1);
    color: rgba(45, 46, 47, 1);
    background: none;
    border-radius: 4px;
}
.rating-btn button span{
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: inherit;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin-top: 2px;
}
.cities{
    padding: 45px 16px 16px;
    display: block;
    text-align: center;
}
.city-head{
    display:block;
    margin-bottom: 15px;
}
.city-head h2{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.0px;
    line-height: 20px;
    color: rgba(45, 46, 47, 1);
    margin: 0;
}
.cities ul{
    list-style-type: none;
}
.cities ul li{
    margin-bottom: 8px;
    list-style-type: none;
    text-decoration: none;
    font-weight: normal;
    color: rgba(107, 109, 111, 1);
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
footer{
    padding: 48px 24px;
    background-color: rgba(247, 247, 247, 1);
    display: block;
}
.footer-content{
    display: none;
    margin-inline:-12px;
    grid-template-columns:repeat(4,1fr)
}
.f-content{
    margin-inline: 12px 12px;
    display: block;
    flex: 1;
}
.f-c-head{
    margin-bottom: 12px;
    font-family:'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: rgba(45, 46, 47, 1);
    text-align: left;
}
.f-c-list{
    display: block;
}
.f-c-list a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgba(107, 109, 111, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.lan-cit-con{
    display: block;
}
.lan-cit{
    display: grid;
    margin-bottom: 16px;
}
.lan-cit span{
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: rgba(45, 46, 47, 1);
    text-align: left;
}
.l-name{
    display:inline-flex;
    padding-top:8px;
}
.l-name span{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.0px;
    line-height: 20px;
    color: rgba(0, 118, 146, 1);
    text-align: left ;
    display: inline;
}
.l-name span a{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    top:-1px;
    fill: #007692;
}
.l-name span a svg{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    bottom: 0;
}
#city{
    margin-bottom: 0;
}
.about{
    padding-top: 24px;
    display: block;
}
.about ul{
    list-style: none;
}
.about ul li{
    display: inline-block;
    list-style: none;
}
.about ul li span a{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.0px;
    line-height: 16px;
    color: rgba(0, 118, 146, 1);
    padding-right: 4px;
    text-decoration: none;
}
.about ul li span::after{
    content: '\00a0\2022\00a0';
    display: inline;
    font-weight: 400;
    letter-spacing: 0.0px;
    line-height: 20px;
    padding-right: 0;
    text-align: center;
    color: rgba(45, 46, 47, 1);
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}
#Privacy::after{
    display: none;
}
.add{
    margin-top: 24px;
    display: block;
}
.add a{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: normal;
    color: rgba(0, 118, 146, 1);
    font-size: 14px;
}
.add-space{
    margin-top: 24px;
    width: 100%;
    height: 1px;
    display: block;
    background-color: rgba(227, 227, 227, 1)
}
.copyright{
    margin-top: 24px;
    gap:8px;
    display: flex;
}
.copyright p{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.0px;
    line-height: 16px;
    color: rgba(107, 109, 111, 1);
    text-align: left;
    display: block;
}
#f-1-img{
    width: 38px;
    height: 19px;
    aspect-ratio:auto 34/19;
    /* padding-top: 1px; */
    vertical-align: bottom;
}
#f-2-img{
    width: 14px;
    height: 16px;
    aspect-ratio:auto 14/16;
    padding-top: 1px;
    padding-right:1px;
    vertical-align:top;
}

@media screen and (min-width:375px) {
    #item7-id{
        margin-bottom: 15px;
    }
    .service{
        margin-bottom: 9px;
    }
    .service-conatiner{
        margin-bottom: 5px;
    }
    .copyright p {
        padding-right: 7px;
    }
    .about ul li{
        padding-bottom: 2px;
    }
    .add{
        margin-top: 22px;
    }
}
@media screen and (min-width:768px){
    .input-label{
        display: none;
    }
    .rate{
        padding-bottom: 12px;
    }
    .rating-head h2{
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
    }
    .rating-img{
        margin-block: 7px;
    }
    .rating-btn button span{
        margin-top: 1px;
    }
    .cities{
        padding-top: 48px;
    }
    .city-head{
        margin-bottom: 16px;
    }
    .about{
        display: none;
    }
    footer{
        padding:64px 32px;
    }
    .footer-content{
        display:grid;
    }
    .copyright{
        margin-top: 32px;
    }
    .add-space{
        margin-top: 48px;
    }
    .add{
        margin-top: 48px;
    }
    .lan-cit-con{
        margin-inline: 12px;
    }
    .lan-cit-main{
        display: none;
    }
}
/* -----------------------------------------dektop site----------------------------------- */
.desktop{
   display:none;
}
.home{
    display: flex;
    flex-direction: column;
    background-image:url("https://s3-media0.fl.yelpcdn.com/educatorphoto/fP07TGmh-eQwrs3j-aa1Qg/o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    background-color: linear-gradient(90deg, #0006, #0000001a 55%);
}
.home-inner{
    display: block;
    background: linear-gradient(90deg, #0006, #0000001a 55%);
}
.home-header{
    display: block;
    background: linear-gradient(180deg,#000000b3,#0000004d 72.92%,#0000);
    padding: 24px 40px 0;
}
.h-header-top{
    display: flex;
    gap: 40px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}
.h-header-logo{
    display: block;
    min-width: 80px;
    height: 40px;
    width: 80px;
    margin-top: 4px;
    order: 1;
}
 .h-search{
    flex-grow: 1;
    order: 2;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 18px 0px;
    border-radius: 4px;
    height: 48px;
    min-width: 191.19px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
 }
 .s-input{
    padding: 12px 16px 13px 13px;
    display:block;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    min-width: 67.713px;
    flex-grow: 1;
    overflow: hidden;
 }
 .s-input input{
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 20px;
    color: #2d2e2f;
    font-size: 16px;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    display:flex;
    width: 65%;
    margin:1px 0 0 1px;
    border: none;
    
 }
 .s-input::after{
    content: '';
    position: absolute;
    top: 12px;
    bottom: 12px;
    right: 0;
    width: 2px;
    background-color: rgba(240, 240, 240, 1);
 }
 #place::-webkit-input-placeholder {
    color:#2d2e2f;
}
 .h-search button{
    padding: 10px 16px;
    display: flex;
    align-items: center;
    background-color: rgba(215, 22,22, 1);
    border: none;
 }
 .h-search button svg{
    width: 24px;
    height: 24px;
    display: block;
    fill: #fff;
    margin-top: 1px;
 }
 .nav-btn-con{
    display: flex;
    gap: 12px;
    order: 3;
    align-items: center;
 }
 .nav{
    display: flex;
    gap: 12px;
    align-items: center;
 }
 .nav-item1{
    padding-right: 8px;
    display: block;
 }
 .nav-item{
    display: block;
 }
 .nav-item1-inner{
    padding: 8px;
    display: flex;
 }
 .nav-txt{
    display: block;
    margin-right: 4px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.0px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    white-space: nowrap;
 }
 .nav-item .nav-txt{
    margin-right: 0px;
 }
 .nav-item1-inner svg{
    width: 16px;
    height: 16px;
    fill: #fff;
    display: block;
    margin-top: 2px;
 }
 .btn{
    display: flex;
    gap: 12px;
    margin-top: -1px;
 }
 .btn button{
    display: inline-flex;
    padding: 11px 16px 9px;
    height: 44px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    margin-top: 1px;
    border: none;
    border-radius: 4px;
 }
 #btn-1{
    background-color: rgba(255, 255, 255, 0.12);
    padding: 11px 18px 9px;
 }
 #btn-2{
    background-color: rgba(215, 22, 22, 1);
 }
 .header-bottom{
    display: flex;
    margin-left: 80px;
    padding-left:40px;
 }
 .header-nav{
    border-width: 4px;
    padding: 16px 16px 16px 16px;
    display: flex;
    gap: 4px;
    position: relative;
 }
.header-nav p{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.0px;
    line-height: 20px;
    color: #fff;
    text-align: left;
    display: block;
}
.header-nav svg{
    display: block;
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-top: -1px;
}
.menu{
    display: block;
    /* position: absolute;
    bottom: 0; */
}
 /* header  end*/
 /* home body */
 .home-body{
    display: block;
    padding:43px 32px 199px;
    position: relative;
 }
 .home-content{
    display: grid;
    grid-gap: 24px;
    max-width: 528px;
    grid-template-columns:[slider] 24px [slider-content] 1fr;
 }
 .slider{
     display: flex;
     flex-direction: column;
     grid-area: slider;
 }
 .slider-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height:288px;
    justify-content: center;
    margin-left: 7px;
 }
 .slider-bar button{
    display: inline-block;
    background-color: #ffffff88;
    flex-grow: 1;
    border-radius: 5px;
    height: 100%;
    width: 10px;
    border: none;
    padding: 0;
 }
 #btn-active{
    background-color: #fff;
 }
 .play-btn{
    margin-top: 13px;
    display: block;
    box-sizing: border-box;
 }
 .play-btn span{
    height: 44px;
    display:flex;
    justify-content: center;
    align-items: center;
 }
 .play-btn span svg{
    width: 16px;
    height: 16px;
    display: block;
    fill: #fff;
 }
 .h-content{
    display: block;
    grid-area:slider-content;
 }
 .h-content h1{
    margin-block: 8px 24px;
    font-family:'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 56px;
    color: #fff;
 }
 .h-content a{
    display: inline-flex;
    height: 48px;
    border-radius: 4px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(215, 22, 22, 1);
    box-sizing: border-box;
 }
 .h-c-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
 }
 .h-content span{
    display: block;
 }
 .h-content span svg{
    padding-right: 8px;
    margin-top: 4px;
    width: 24px;
    height: 24px;
    fill: rgba(255, 255, 255, 1);
 }
 .h-content span p{
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    max-width: 100%;
 }
 .h-name{
    margin:95px 0px 0px 8px;
    position: absolute;
    display: block;
 }
 .h-name span{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing:0.0px;
    line-height: 20px;
    color:rgba(255, 255, 255, 1);
    text-align: left;
 }
 .h-name p{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.0px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
 }
 .activity{
    display: block;
    padding: 57px 32px 55px;
    border-bottom: 1px solid rgb(240, 240, 240);
 }
 .activity-head{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
 }
 .activity-head h2{
    padding-bottom: 16px;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.4px;
    margin: 0px 0 0 0;
    color: rgba(45, 46, 47, 1);
 }
 .card-container{
    display: grid;
    gap: 27px 24px;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
 }
 .card{
    display:block;
    height: 100%;
 }
 .card-inner{
    display: flex;
    flex-direction: column;
    min-height: auto;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
    max-height: 560px;
 }
 .card-top{
    padding: 16px 16px 0px;
    display:flex;
    flex-direction: column;
 }
 .card-acc{
    display: flex;
    gap: 8px;
 }
 .card-acc img{
    width: 40px;
    height: 40px;
    aspect-ratio:auto 40/40;
    border-radius: 10000px;
 }
 .card-acc-txt{
    display: block;
    flex-grow: 1;
 }
 .txt-1{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400px;
  line-height: 16px;
  color: rgb(45, 46, 47);    
 }
 .txt-2{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400px;
    line-height: 20px; 
    color: rgb(107, 109, 111); 
 }
 .acc-space{
    display: block;
    height: 16px;
 }
 .card-img{
    display: block;
    height: 150px;
    width: 100%;
 }
 .card-img img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 .card-text{
    display: block;
    padding: 16px;
    flex-grow: 1;
 }
 .card-t-head{
    display: block;
    font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: rgb(45, 46, 47);
    text-align: left;
 }
 .card-rate{
    display: flex;
    padding-block: 4px 8px;
    width:88px;
    height: 16px;
}
.card-rate svg{
    width: 16px;
    height: 16px;
    display: block;
    margin-right:2px;
}
.card-t-para{
    display: block;
}
.card-t-para p{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color:rgb(45, 46, 47);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    overflow-wrap: break-word;
}
.card-t-para span{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 20px;
    color: rgb(0, 118, 146);
    text-align: left;
    display: block;
}
.reaction-btn{
    padding: 8px 16px;
    display: flex;
    gap: 32px;
    place-content: normal space-evenly;
    box-sizing: border-box;
}
.react-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    position: relative;
    border-radius: 100%;
}
.react-img span{
    visibility: hidden;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    padding: 12px 12px; 
    z-index: 1;
    position: absolute;
    top: 110%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: max-content;
}
.react-img span::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.card-bottom{
    display: block;
    flex-grow: 1;
    padding: 16px 16px 0;
    box-sizing: border-box;
}
.card-text-2{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}
.card-rate-2{
    display: flex;
    margin-block: 4px;
    gap: 8px;
}
.star{
    display: flex;
    width: 108px;
    height: 20px;
}
.star svg{
    width: 20px;
    height: 20px;
    margin-right: 2px;
    display: block;
}
.star-count{
    color:rgb(107, 109, 111);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.card-text-2 span{
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.0px;
    line-height: 16px;
    color: rgba(107, 109, 111, 1);
    text-align: left;
}
.card-img2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.card-img-con{
    display: flex;
    flex-direction: column;
}
.card-img-con img{
    height: 110px;
    width: 100%;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    object-fit: cover;
}
.like{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    border: 1px solid rgb(240, 240, 240);
    border-top: none;
}
.like svg{
    display:block;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    fill: rgb(107, 109, 111);
    border-radius: 100%;
}
.show-all{
    padding: 20px 0px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 20px;
    color:rgba(0, 118, 146, 1);
    text-align: left;
    display: block;
}
.show-more{
    margin-top: 45px;
    display: block;
}
.show-more button{
    display: flex;
    background: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.show-more button span{
    padding-right: 8px;
    width: 24px;
    height: 24px;
    display: inline-block;
    fill: rgb(0, 118, 146);
}
.show-more button div{
    display: block;
    color: rgb(0, 118, 146);
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.categories{
    padding: 48px 32px 48px;
}
.categories h2{
    display: block;;
    text-align: center;
    margin:0  0 40px 0;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 36px;
    color: rgba(45, 46, 47, 1);
}
.cat-item{
    display: block;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    width: 100%;
}
.c-item{
    width: 100%;
    display:block;
}
.item-inner{
    padding-block: 48px;
    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.item-inner img{
    height: 40px;
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-inner p{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.0px;
    line-height: 24px;
    color: rgba(45, 46, 47, 1);
    text-align: center;
}
@media screen and (min-width:1024px) {
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
}
@media screen and (min-width:1440px) {
    .s-input input{
        width: 95%;
    }
    .h-header-logo{
        width:  calc(((100vw - 1144px) / 2) - 80px - 8px);
    }
    .header-bottom{
        margin-top: 1px;
        margin-left: max(calc(((100vw - 1144px) / 2) - 80px - 8px), 80px);;
    }
    .home-body{
        padding-top: 42px;
        padding-inline: 40px;
        max-width: 1144px;
        margin-inline: auto;
    }
    .activity{
        padding-inline: 40px;
        max-width: 1144px;
        margin-inline: auto;
    }
    .card-container{
        grid-template-columns: repeat(3,1fr);
    }
    .categories{
        padding-inline: 40px;
        max-width: 1144px;
        margin-inline: auto;
    }
    footer{
        padding-inline: 40px;
    }
    .footer-inner{
        display: block;
        max-width: 1144px;
        margin-inline: auto;
    }
    .footer-content{
        gap: 8px;
    }
}
/* -----------hover---------------- */
.f-c-list a:hover{
    text-decoration: underline;
} 
.item-inner:hover{
    box-shadow: 0 0 10px 0 #00000026;
    zoom: 1;
}
.nav-item1:hover{
    background-color: #ffffff4d;
}
.nav-item:hover{
    background-color: #ffffff4d;
}
#btn-1:hover{
    background-color: rgba(255, 255, 255, 0.32)
}
#btn-2:hover{
    background-color: rgba(244, 13, 21, 1);
}
.h-content a:hover{
    background-color: rgba(244, 13, 21, 1);
}
.react-img:hover #span {
    visibility: visible;
}
.react-img:hover{
    background-color: rgba(240, 240, 240, 1);
}
.card-t-head:hover{
    text-decoration: underline;
}
.like svg:hover{
    background-color: rgba(240, 240, 240, 1);
}
.header-nav:hover .menu{
    display: block;
}
.show-all:hover{
    text-decoration: underline;
}
.card-t-para span:hover{
    text-decoration: underline;
}
.play-btn span svg:hover{
    border-radius: 50%;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.32);
}